@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'NHG Display';
  src: url('/assets/fonts/NHGDisplay-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NHG Display';
  src: url('/assets/fonts/NHGDisplay-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'MD IO';
  src: url('/assets/fonts/MDIO06-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MD IO';
  src: url('/assets/fonts/MDIO06-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'MD IO';
  src: url('/assets/fonts/MDIO06-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MD IO';
  src: url('/assets/fonts/MDIO06-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'ABC Normal';
  src: url('/assets/fonts/ABCNormal-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ABC Normal';
  src: url('/assets/fonts/ABCNormal-Oblique.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'ABC Normal';
  src: url('/assets/fonts/ABCNormal-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ABC Normal';
  src: url('/assets/fonts/ABCNormal-BoldOblique.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

body,
article {
  font-size: 1.2rem !important;
}

header a {
  line-height: 1.8;
}

h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  font-family: 'NHG Display', sans-serif;
}
